:root {
  --swiper-navigation-color: #000;
  --swiper-pagination-color: #e7c7e7;
}

.swiper-slide {
  display: flex;
  justify-content: center;
  position: relative;
  margin-bottom: 24px;
}

.swiper {
  position: relative;
  padding-top: 30px;
}

.swiper-button-prev::after,
.swiper-button-next::after {
  font-size: 1.5rem;
  font-weight: 700;
}

.swiper .swiper-pagination {
  position: absolute;
  bottom: 0px;
}

.swiper-pagination-bullet {
  width: 9px;
  height: 9px;
  margin-top: 10px;
}
