@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "SDSamliphopangche";
  src:
    url("/fonts/SDSamliphopangcheTTFBasic.woff2") format("woff2"),
    url("/fonts/SDSamliphopangcheTTFBasic.woff") format("woff"),
    url("/fonts/SDSamliphopangcheTTFBasic.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

body {
  font-family: "SDSamliphopangche";
}

@layer components {
  .title-font {
    @apply text-black text-huge;
  }
  .body-font {
    @apply text-Charcoal text-regular;
  }
  .smallCaption-font {
    @apply text-Gray text-small;
  }
  .regularCaption-font {
    @apply text-Gray text-regular;
  }
  .hugeCaption-font {
    @apply text-Gray text-huge;
  }
  .calender-item {
    @apply w-11/12 aspect-square rounded-[10px];
  }
  .option-box {
    @apply flex justify-center gap-[15px] grow py-[12px];
  }
  .profile-modal-layout {
    @apply flex flex-col w-[300px]  body-font text-center p-[20px] gap-[27px] border border-ButtonDisabledStroke shadow-custom z-10 bg-white;
  }
}
