@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "cookieRun";
  src:
    url("./assets/fonts/CookieRun-Regular.woff2") format("woff2"),
    url("./assets/fonts/CookieRun-Regular.woff") format("woff"),
    url("./assets/fonts/CookieRun-Regular.ttf") format("truetype"),
    url("./assets/fonts/CookieRun-Regular.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: "cookieRun";
}

@layer components {
  .title-font {
    @apply text-black text-huge;
  }
  .body-font {
    @apply text-Charcoal text-regular;
  }
  .smallCaption-font {
    @apply text-Gray text-small;
  }
  .regularCaption-font {
    @apply text-Gray text-regular;
  }
  .hugeCaption-font {
    @apply text-Gray text-huge;
  }
  .calender-item {
    @apply w-full h-[170px] rounded-[10px];
  }
  .option-box {
    @apply flex justify-center gap-[30px] grow py-[12px];
  }
}
